@keyframes AK{
    0% {left : 11%;}
    25%{left: 0%;}
    50% {left : 11%;}
    75%{left: 0%;}
    100% {left : 11%;}
}
@keyframes AHO{
    0% {color : transparent}
    25%{color : #505050}
    50% {color : transparent}
    75%{color : #505050}
    100% {color : transparent}
}
@keyframes AI{
    0% {right : 11%;}
    25%{right: 0%;}
    50% {right : 11%;}
    75%{right: 0%;}
    100% {right : 11%;}
}
@keyframes SurfingL{
    from { left : -40rem;}
    to   { left : 100rem;}
}
@keyframes SurfingR{
    from { right : -135rem;}
    to   { right : 0rem;}
}