.buttonScr{
    overflow: hidden;
    position:absolute;
    bottom: 0%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    cursor: pointer;
    &-item{
        font-size: 3rem;
        background: transparent;
        outline: none;
        border: none;
        position: relative;
        animation : Scroll 3s ease-in-out 2.5s infinite;
        cursor: pointer;
    }
}