* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  position: absolute;
  width: 100%;
  z-index: 99999; }
  .navbar-list {
    list-style-type: none;
    display: flex;
    margin: 0 25%;
    padding: 2rem 0;
    align-items: center; }
  .navbar-item {
    padding: .5rem;
    margin: 0 1rem;
    flex-grow: 1;
    text-align: center;
    justify-items: center; }
    .navbar-item--logo {
      position: relative;
      flex-grow: 3;
      display: flex;
      justify-content: center;
      align-items: center; }
      .navbar-item--logo_mix {
        position: relative;
        font-family: fantasy;
        font-size: 2rem;
        color: #383838;
        transition: all .2s ease-in-out .3s; }
        .navbar-item--logo_mix__1 {
          animation: AK 7.5s infinite; }
        .navbar-item--logo_mix__2 {
          animation: AHO 7.5s infinite; }
        .navbar-item--logo_mix__3 {
          animation: AHO 7.5s infinite; }
        .navbar-item--logo_mix__4 {
          animation: AI 7.5s infinite; }
  .navbar-link {
    text-decoration: none;
    font-weight: 800;
    font-family: fantasy;
    color: #505050; }

@keyframes AK {
  0% {
    left: 11%; }
  25% {
    left: 0%; }
  50% {
    left: 11%; }
  75% {
    left: 0%; }
  100% {
    left: 11%; } }

@keyframes AHO {
  0% {
    color: transparent; }
  25% {
    color: #505050; }
  50% {
    color: transparent; }
  75% {
    color: #505050; }
  100% {
    color: transparent; } }

@keyframes AI {
  0% {
    right: 11%; }
  25% {
    right: 0%; }
  50% {
    right: 11%; }
  75% {
    right: 0%; }
  100% {
    right: 11%; } }

@keyframes SurfingL {
  from {
    left: -40rem; }
  to {
    left: 100rem; } }

@keyframes SurfingR {
  from {
    right: -135rem; }
  to {
    right: 0rem; } }

@keyframes Scroll {
  from {
    top: -4rem; }
  to {
    top: 3rem; } }

.home {
  overflow: hidden;
  background: url(../../image/bgFashion.jpg);
  width: 100vw;
  height: 100vh;
  background-size: 96rem 48rem;
  background-repeat: no-repeat;
  position: relative; }

.smoke {
  position: relative; }
  .smoke_container {
    position: relative; }
    .smoke_container__item:nth-child(1) {
      position: absolute;
      bottom: 10rem;
      animation: SurfingL 10s infinite; }
    .smoke_container__item:nth-child(2) {
      position: absolute;
      bottom: 2rem;
      animation: SurfingL 14s infinite; }
    .smoke_container__item:nth-child(3) {
      position: absolute;
      bottom: -8rem;
      animation: SurfingL 19s infinite; }
    .smoke_container__item:nth-child(4) {
      position: absolute;
      bottom: -17rem;
      animation: SurfingR 20s infinite; }
    .smoke_container__item:nth-child(5) {
      position: absolute;
      bottom: -22rem;
      animation: SurfingR 17s infinite; }
    .smoke_container__item:nth-child(6) {
      position: absolute;
      bottom: -33rem;
      animation: SurfingL 18s infinite; }
    .smoke_container__item:nth-child(7) {
      position: absolute;
      bottom: -38rem;
      animation: SurfingR 12s infinite; }
    .smoke_container__item:nth-child(8) {
      position: absolute;
      bottom: -42rem;
      animation: SurfingR 15s infinite; }
    .smoke_container__item:nth-child(9) {
      position: absolute;
      bottom: 8rem;
      animation: SurfingL 19s infinite; }
    .smoke_container__item:nth-child(10) {
      position: absolute;
      bottom: 5rem;
      animation: SurfingR 17.5s infinite; }
    .smoke_container__item:nth-child(11) {
      position: absolute;
      bottom: 1rem;
      animation: SurfingR 16s infinite; }
    .smoke_container__item:nth-child(12) {
      position: absolute;
      bottom: -12rem;
      animation: SurfingL 19.2s infinite; }
    .smoke_container__item:nth-child(13) {
      position: absolute;
      bottom: -17rem;
      animation: SurfingR 20.1s infinite; }
    .smoke_container__item:nth-child(14) {
      position: absolute;
      bottom: -22rem;
      animation: SurfingR 17s infinite; }

.buttonScr {
  overflow: hidden;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  cursor: pointer; }
  .buttonScr-item {
    font-size: 3rem;
    background: transparent;
    outline: none;
    border: none;
    position: relative;
    animation: Scroll 3s ease-in-out 2.5s infinite;
    cursor: pointer; }

.Collection {
  width: 100vw;
  height: 100vh;
  background-image: url(../../../image/photomodel.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .Collection-item {
    position: relative;
    width: 12%;
    height: 25%;
    left: 10%;
    top: 25%;
    transform: translate(-50%, -50%);
    background-image: url(../../../image/product.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid; }
    .Collection-item_introduce {
      position: relative;
      width: 65%;
      height: auto;
      border: 1px solid;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white; }
      .Collection-item_introduce__name {
        display: flex;
        flex-direction: row;
        margin: .1rem 0;
        font-size: .5rem;
        padding: 0 .1rem; }
        .Collection-item_introduce__name___content {
          padding: 0 .1rem; }
      .Collection-item_introduce__material {
        display: flex;
        flex-direction: row;
        margin: .1rem 0;
        padding: 0 .1rem;
        font-size: .5rem; }
        .Collection-item_introduce__material___content {
          padding: 0 .1rem; }
      .Collection-item_introduce__price {
        display: flex;
        flex-direction: row;
        margin: .1rem 0;
        padding: 0 .1rem;
        font-size: .5rem; }
        .Collection-item_introduce__price___content {
          padding: 0 .1rem; }

.Product {
  position: relative;
  top: 10rem;
  left: 5rem;
  display: flex;
  flex-direction: row; }
  .Product-item {
    margin: 1rem;
    position: relative;
    text-align: center; }
    .Product-item_name {
      font-size: 1.5rem; }
    .Product-item_price {
      font-size: 1rem; }
  .Product-cart {
    position: relative;
    top: 10rem;
    border: 1px solid;
    border-radius: 30px;
    width: 25rem;
    height: auto; }
    .Product-cart_item {
      text-align: center; }
