.Product{
    position: relative;
    top: 10rem;
    &-item{
        margin: 1rem;
        position: relative;
        text-align: center;
        &_name{
            font-size: 1.5rem;
        }
        &_price{
            font-size: 1rem;
        }
    }
    &-cart{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,50%);
        border: 1px solid ;
        border-radius: 30px;
        width: 25rem;
        height: auto;
        &_item{
            text-align: center;
        }
    }
    &__toolbar{
        border: 1px solid black;
        border-radius: 30px;
        &-list{
            display: flex;
            flex-direction: row;
            margin: 0 5rem;
            padding: 2rem 0;
            &__search{
                margin: 0 2rem;
                flex: 5;
            }
            &__sort{
                flex: 1;
            }
            &__button{
                flex: 1;
            }
        }
    }
    &__state{
        position: relative;
        display: flex;
        flex-direction: row;
    }
}