.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position: relative;
}
.logo:hover .logo-mix{
    position: relative;
    color: black;
}
.logo:hover .logo-mix_4{
    left: 0;
}
.logo-mix{
    position: absolute;
    font-family: fantasy;
    font-size: 2rem;
}
.logo-mix_1{

}
.logo-mix_2{
    color: transparent;
}
.logo-mix_3{
    color: transparent;
    
}
.logo-mix_4{
    left: .93rem;
}